:root{
  --body-background:white;
  --title:black;
  --primary:white;
}
[data-theme="light"]{
  --body-background:white;
  --title:black;
  --primary:black;
}
[data-theme="dark"]{
  --body-background:rgb(52,52,52);
  --title:white;
  --primary:white;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}
.Wrap{
  background-color: var(--body-background);
  text-align: center;
}
.counter{
  max-width: 50%;
  margin: 100px auto;
  text-align: center;
  padding-top: 200px;
  border: none;
  color: var(--title);
}
#count{
  display: block;
  font-size: 50px;
}
#minus_Btn{
  font-size: 40px;
  padding: 0px 25px;
  background-color: red;
}
#Plus_Btn{
  font-size: 40px;
  padding: 0px 20px;
  background-color: green;
}
#reset_Btn{
  font-size: 40px;
  padding: 0px 20px;
  background-color: blue;
}
